{% extends 'index.html' %}
{% load static %}

{% block content %}
        <div class="card card-default" style="background: linear-gradient(to bottom right, white, #f0f0f0); border: 1px solid #ddd;">
            <div class="card-header bg-dark">
                <h3 class="card-title">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                <table class="table" id="data">
                    <thead>
                    {% block columns %}

                    {% endblock %}
                    </thead>
                    <tbody>
                    {% block rows %}

                    {% endblock %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a href="{{ create_url }}" class="btn btn-primary btnTest">
                    <i class="fa-solid fa-plus"></i>
                    New Register
                </a>
            </div>
        </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        $(function () {
            $('#data').DataTable({
                responsive: true,
                autoWidth: false
            });
            $('.btnTest').on('click', function () {
                $.ajax({
                    url: '{% url 'category_list' %}',
                    type: 'POST',
                    data: {id: 3},
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data)
                }).fail(function (data) {
                    alert('Error')
                }).always(function (data) {
                    alert('complete')
                })
            });
        });
    </script>
{% endblock %}






















